.compte{
    position:relative;
    width:1400px;
    height:550px;
    left: 110px;
    top: 50px;
}
.plus-recent::-webkit-scrollbar {
    width: 5px;
}

.plus-recent::-webkit-scrollbar-track {
  /*background-color: grey;*/
  box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}

.plus-recent::-webkit-scrollbar-thumb {
  background-color: orange; 
  border-radius: 15px;
  /*border: 1px solid red;*/
}

/*.container::-webkit-scrollbar-button {
  background-color: red;
   border-radius: 15px;
}*/

.plus-recent::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 215, 175); 
}

/* IE */
.plus-recent {
  scrollbar-face-color: orange; 
  scrollbar-shadow-color: grey; 
  scrollbar-highlight-color: red;
}

/* FireFox */
.plus-recent {
  scrollbar-color: orange grey;
  scrollbar-width: thin;
}

/* View Scrollbar */
.plus-recent {
  overflow-y: scroll;
  overflow-x: hidden;
  width:400px;
  height: 200px;
}
.plus-recent{
    position: absolute;
    width: 650px;
    height: 500px;
    top: 25px;
    left: 25px;
    margin-right: 25px;
    background-color: rgba(64, 215, 175, 0.5); 
    scroll-behavior: smooth;
    border-radius: 5px;
    overflow-y: scroll;
}
.nav-recent{
    background-color: rgba(255, 255, 255, 0.717);
    width: 650px;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-recent i{
    position: absolute;
    font-size: 35px;
    color:rgb(48, 45, 45);
    left: 10px;
    top: 7px;
    

}
.nav-recent span{
    position: absolute;
    font-size: 20px;
    left: 60px;
    top: 10px;
    color:rgb(48, 45, 45) ;
    font-weight: bold;

}
.list-users::-webkit-scrollbar {
    width: 5px;
}

.list-users::-webkit-scrollbar-track {
  /*background-color: grey;*/
  box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}

.list-users::-webkit-scrollbar-thumb {
  background-color: orange; 
  border-radius: 15px;
  /*border: 1px solid red;*/
}

/*.container::-webkit-scrollbar-button {
  background-color: red;
   border-radius: 15px;
}*/

.list-users::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 215, 175); 
}

/* IE */
.list-users {
  scrollbar-face-color: orange; 
  scrollbar-shadow-color: grey; 
  scrollbar-highlight-color: red;
}

/* FireFox */
.list-users {
  scrollbar-color: orange grey;
  scrollbar-width: thin;
}

/* View Scrollbar */
.list-users {
  overflow-y: scroll;
  overflow-x: hidden;
  width:400px;
  height: 200px;
}

.list-users{
    position: absolute;
    width: 650px;
    height: 500px;
    top: 25px;
    left: 720px;
    margin-right: 25px;
    background-color: rgba(64, 215, 175, 0.5); 
   border-radius: 5px;
}
.nav-list{
    background-color: rgba(255, 255, 255, 0.717);;
    width: 650px;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-list i{
    position: absolute;
    font-size: 35px;
    color:rgb(48, 45, 45);
    left: 10px;
    top: 7px;
    

}
.nav-list span{
    position: absolute;
    font-size: 20px;
    left: 60px;
    top: 10px;
    color:rgb(48, 45, 45) ;
    font-weight: bold;

}
#plus{
    position:absolute;
    left: 500px;
}
#minus{
    position: absolute;
    left: 550px;
}
#x{
    position: absolute;
    left: 600px;
}
#rm{
    position: absolute;
    left: 600px;
}