@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.nav{
    position: relative;
    height: 80px;
    width: 1449PX;
    background-color:#f5faf9;
       left: 87px;
    
}
.border{
    width: 1200px ;
    position: relative;
    align-items:center;
    border-bottom: solid #5bf3d57a 2px;
    left: 120px;
    top: 80px;

}
.items{
    width: 1000px ;
    position: relative;
    align-items:center;
}
.accueil{
    position:relative;
    list-style: none;
    left: 130px;
    top: 50px;
    width: 300px;
    height: 20px;
}
.accueil i{
    position: relative;
    color: rgb(48, 45, 45);
    font-size: 65px;
    bottom: 47px;
    display: inline;
}
.span1
{ 
  position: relative;
  color: rgb(48, 45, 45);
  font-size: 60px;
  left: 27px;
  bottom: 50px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: inline;
   
}
.navele{
    position: relative;
    width: 700px;
    left:600px;
    bottom:10px;
    height: 60px;
    border-bottom: none;
    
}

.a1{
position: relative;
font-size: 35px;
top: 15px;
left: 180px;
color:rgb(48, 45, 45);
}
.a2{
    position: relative;
    font-size: 35px;
    top: 15px;
    left: 220px;
    color:rgb(48, 45, 45);
    }
.a3{
        position: relative;
        font-size: 35px;
        top: 15px;
        left: 260px;
        color:rgb(48, 45, 45);
 }

 .a4{
    position: relative;
    font-size: 35px;
    top: 15px;
    left: 300px;
    color:rgb(48, 45, 45);
}
 .a1:hover,.a2:hover,.a3 :hover,.a4:hover{
    color: #24C3AE;
    transition: .5s;
 }
.drop{
     position: relative;
     font-size: 20px;
     height: 55px;
     width: 180px;
     left: 480px;
    bottom: 46px;
    border-radius: 10px;
    background-color: #b8f3eb;
      }

    .btn{
    text-decoration: none; 
    color: rgb(48, 45, 45);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    }
.btn img{
    position: relative;
    display: inline;
    height: 30px;
    left: 25px;
    top: 10px;
}
.btn p{
    position: relative;
    display: inline;
    left: 50px;
    top: 5px;
}

