@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  height: 100vh;
  width: 100vw;
}

.sidebar{
  position: fixed;
  height: 100vh;
  width: 88px;
  background: #fff;
  /*border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;*/
  z-index: 99;
  transition: width .5s;
}

.sidebar #logo_img{
  position: relative;
  top: 25px;
  left: 7px;
  margin-top: 30px;
  margin-bottom: 60px;
  height: 13px;
 }
ul{
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

ul li{
  display: flex;
  align-items: center;
  margin: 30px 0;
}

ul li a,
.logout a{
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

ul li a i,
.logout a i{
  position: relative;
  color: #575F66;
  font-size: 25px;
  margin-left: calc((78px - 25px)/2);
  z-index: 10;
}

.sidebar ul li a .links_name,
.sidebar .logout a .links_name{
  color: #575F66;
  margin: auto 30px;
  width: 110px;
  transform: translateX(-250px);
  opacity: 0;
}

.sidebar.open ul li a .links_name,
.sidebar.open .logout a .links_name{
  transform: translateX(0);
  opacity: 1;
  transition: .5s;
}

ul li a:hover i, 
ul li a:hover .links_name{
  color: #24C3AE;
  transition: .5s;
}

.sidebar ul li .tooltip,
.sidebar .logout .tooltip{
  color: #575F66;
  background: #fff;
  width: 110px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  left: 0px;
  z-index: 8;
  transition: .5s;
}

.sidebar ul li:hover .tooltip,
.sidebar .logout:hover .tooltip{
  opacity: 1;
  left: 85px;
  transition: .5s;
}

.sidebar.open ul li .tooltip,
.sidebar.open .logout .tooltip{
  display: none;
}



.logout{
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
}

.logout a:hover i, 
.logout a:hover .links_name{
  color: #4D6FFF;
  transition: .5s;
}

